<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GET TO KNOW THE GREATNESS</title>
<li><a href="open01.html">Home</a></li>
<link rel="stylesheet" href="NBAteam.css">
<script src="NBAteam.js"></script>

<style>
  div {
    width: 350px;
    height: 350px;
    padding: 15px;
    background-color: purple;
    box-shadow: 10px 10px 5px yellow;
  }
  </style>
</head>
  <body>
    <div> LOS ANGELES LAKERS </div>

      
      <div id="search"> <h2>Type in some teams names:</h2>
        <input id="text-box" type="text" data-ng-model="name"> 
        <p id="name_field">
        {{ name }}
        </p>
      </div> 
          
      <div id="list" class="container" data-ng-controller="SimpleController"></div>
      <ul>
        <li data-ng-repeat="play in players | filter:name">
        {{ play.name }} - {{ play.team}}
        </li>
      <ul>  
    </div>
          
  </body>
</html>